.board-row:after {
    clear: both;
    display: table;
  }

.status {
  margin-bottom: 10px;
}

h1 {
	font-size: calc(2.8em + 2.6vw);
	font-weight: 700;
	letter-spacing: .01em;
	text-shadow: .022em .022em .022em #111;
	color: #fff;
}